@model Social.Post

@{
    ViewBag.Title = "Create";
}

<div class="container">
    @using (Html.BeginForm("Create", "Posts", null, FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <h2>Create Post</h2>
            @Html.ValidationSummary(true, "", new { @class = "error-message" })
            <div>
                @Html.LabelFor(model => model.Title)
                <div class="field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "warning-message" })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Link)
                <div class="field">
                    @Html.EditorFor(model => model.Link)
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "warning-message" })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Content)
                <div class="field">
                    @Html.TextAreaFor(model => model.Content, new { @class = "text-area" } )
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "warning-message" })
                </div>
            </div>

            <div>
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
