@model Social.Post
@using System.Security.Claims;

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            @if (!String.IsNullOrEmpty(Model.Link))
            {
                <a href="@Model.Link">
                    <h2>@Model.Title</h2>
                </a>
            }
            else
            {
                <h2>@Model.Title</h2>
            }
            <em>Submitted by <a href="/Users/Details/@Model.AuthorID">@ViewBag.AuthorName</a></em>
        </div>
        <div class="card-body">
            <p>@Model.Content</p>
            @{
                switch (Model.LinkType)
                {
                    case "Image":
                        <img class="image" src="@Model.Link">
                        break;
                    case "Video":
                        <video class="video" width="100%" autoplay controls loop>
                            <source src="@Model.Link">
                        </video>
                        break;
                    case "Youtube":
                        <div class="yt-video-box">
                            <iframe class="yt-video" src="@Model.Link" frameborder="0" allowfullscreen></iframe>
                        </div>
                        break;
                }
            }
        </div>
    </div>
    @if (ClaimsPrincipal.Current.Identity.IsAuthenticated)
    {
        <form class="form no-padding no-background no-box-shadow" action="/Posts/@Model.ID" method="POST">
            <div class="field">
                <input type="text" name="comment[text]" placeholder="Comment">
            </div>
            <div class="field">
                <button class="green btn">
                    Add Comment
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </form>
    }
    else
    {
        <p>You must be logged in to comment.</p>
    }    

    @*<h3>Comments</h3>*@
    @*<% if(post.comments.length > 0) { %>
    <ul>
        <% post.comments.forEach(function(comment) { %>
        <div class="condensed-card">
            <div class="card-header">
                <a class="link no-margin" href="/user/<%= comment.author.id %>"><%= comment.author.username %></a>
            </div>
            <div class="card-body">
                <%= comment.text %>
            </div>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <div class="card-footer">
                <a class="orange btn" href="/post/<%= post._id %>/comment/<%= comment._id %>/edit">Edit</a>
                <form style="display: inline;" action="/post/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="red btn">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <% }) %>
    </ul>
    <% } else { %>
    <p>Nothing yet!</p>
    <% } %>*@
</div>