@model Social.Models.PostModel
@using System.Security.Claims;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            @if (!String.IsNullOrEmpty(Model.Link))
            {
                <a href="@Model.Link">
                    <h2>@Model.Title</h2>
                </a>
            }
            else
            {
                <h2>@Model.Title</h2>
            }
            <em>Submitted by <a href="@Url.Action("Details", "Users", new { name = ViewBag.AuthorName })">@ViewBag.AuthorName</a></em>
        </div>
        <div class="card-body">
            <p>@Model.Content</p>
            @{
                switch (Model.LinkType)
                {
                    case "Image":
                        <img class="image" src="@Model.Link">
                        break;
                    case "Video":
                        <video class="video" width="100%" autoplay controls loop>
                            <source src="@Model.Link">
                        </video>
                        break;
                    case "Youtube":
                        <div class="yt-video-box" style="width: 100%">
                            <iframe class="yt-video" src="@Model.Link" frameborder="0" allowfullscreen></iframe>
                        </div>
                        break;
                }
            }
        </div>
    </div>
    <h3>Comments</h3>    
    @if (ViewBag.CountComments > 0)
    {
        <ul>
            @foreach (var comment in ViewBag.Comments)
            {
                <li class="condensed-card">
                    <div class="card-header">
                        <a class="link no-margin" href="@Url.Action("Details", "Users", new { name = comment.AuthorName })">@comment.AuthorName</a>
                    </div>
                    <div class="card-body">
                        @comment.Content
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Nothing yet!</p>
    }
</div>



