@model Social.Post
@using System.Security.Claims;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            @if (!String.IsNullOrEmpty(Model.Link))
            {
                <a href="@Model.Link">
                    <h2>@Model.Title</h2>
                </a>
            }
            else
            {
                <h2>@Model.Title</h2>
            }
            <em>Submitted by <a href="/Users/Details/@Model.AuthorID">@ViewBag.AuthorName</a></em>
        </div>
        <div class="card-body">
            <p>@Model.Content</p>
            @{
                switch (Model.LinkType)
                {
                    case "Image":
                        <img class="image" src="@Model.Link">
                        break;
                    case "Video":
                        <video class="video" width="100%" autoplay controls loop>
                            <source src="@Model.Link">
                        </video>
                        break;
                    case "Youtube":
                        <div class="yt-video-box" style="width: 100%">
                            <iframe class="yt-video" src="@Model.Link" frameborder="0" allowfullscreen></iframe>
                        </div>
                        break;
                }
            }
        </div>
    </div>
    <h3>Comments</h3>
    @if (ClaimsPrincipal.Current.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Create", "Comments", new { postID = Model.ID }, FormMethod.Post, new { @class = "form no-padding no-background no-box-shadow", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="field">
                <input type="text" id="content" name="content" placeholder="Comment" required>
            </div>
            <div class="field">
                <button class="green btn">
                    Add Comment
                    <i class="fas fa-plus"></i>
                </button>
            </div>

        }
    }
    else
    {
        <p> You must be logged in to comment.</p>
    }
    @if (ViewBag.CountComments > 0)
    {
        <ul>
            @foreach (var comment in ViewBag.Comments)
            {
                <div class="condensed-card">
                    <div class="card-header">
                        <a class="link no-margin" href="/Users/Details/@comment.AuthorID">@comment.AuthorName</a>
                    </div>
                    <div class="card-body">
                        @comment.Content
                    </div>
                    @if (ClaimsPrincipal.Current.Identity.IsAuthenticated && User.Identity.GetUserId() == comment.AuthorID)
                    {
                    <div class="card-footer">
                        <a class="orange btn" href="/Comments/Edit/@comment.ID">Edit</a>
                        @using (Html.BeginForm("Delete", "Comments", new { id = comment.ID }, FormMethod.Post, new { @style = "display:inline;" }))
                        {
                            @Html.AntiForgeryToken()
                            <button class="red btn">Delete</button>
                        }
                    </div>
                    }
                </div>
            }
        </ul>
    }
    else
    {
        <p>Nothing yet!</p>
    }
</div>



