@model IEnumerable<Social.Post>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
    
    @{
        foreach (var post in Model)
        {
            <div class="fluid card">
                <div class="card-header">
                    <div class="card-thumbnail">
                    </div>
                    <h3>
                        @if (!String.IsNullOrEmpty(post.Link))
                        {
                            <a href="@post.Link">
                                @post.Title
                            </a>
                        }
                        else
                        {
                            @post.Title
                        }
                    </h3>
                    <h5>
                        Submitted by <a href="/Users/Details/@post.AuthorID">@post.AuthorName</a>
                    </h5>
                </div>
                <div class="card-opener" data-id="@post.ID">
                    <span class="card-opener-text">View More</span> <i class="fas fa-caret-down"></i>
                </div>
                <div class="card-body post" id="card-body-@post.ID">
                    <p>@post.Content</p>
                    @{
                        switch (post.LinkType)
                        {
                            case "Image":
                                <img class="image" src="@post.Link">
                                break;
                            case "Video":
                                <video class="video" width="100%" autoplay controls loop>
                                    <source src="@post.Link">
                                </video>
                                break;
                            case "Youtube":
                                <div class="yt-video-box">
                                    <iframe class="yt-video" src="@post.Link" frameborder="0" allowfullscreen></iframe>
                                </div>
                                break;
                        }
                    }
                </div>
                <div class="card-footer">
                    <span class="likes">
                        <a id="l">
                            <i class="fas fa-thumbs-up"></i>
                            <text>@post.Likes</text>
                        </a>
                    </span>
                    <span class="dislikes">
                        <a id="d">
                            <i class="fas fa-thumbs-down"></i>
                            <text>@post.Dislikes</text>
                        </a>
                    </span>

                    <a class="block link" style="margin-top: 12px; margin-bottom: 0px;" href="/Posts/Details/@post.ID"><i class="fas fa-comments"></i> Comments</a>
                </div>
            </div>
        }
    }
    <script src="~/Scripts/card-openers.js"></script>
    <script src="~/Scripts/posts.js"></script>
</div>
