@model Social.AspNetUser

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>@Model.UserName</h2>
        </div>
        <div class="card-body">
            <h4>Likes: </h4>
            @{
                if (ViewBag.CountLikedPosts > 0)
                {
                    <ul>
                        @foreach (var post in ViewBag.LikedPosts)
                        {
                            <li><a class="link" href="@Url.Action("Details", "Posts", new { id = post.PostID })">@post.PostTitle</a></li>
                        }
                    </ul>
                }
                else
                {
                    <p>Nothing yet!</p>
                }
            }

            <h4>Dislikes: </h4>
            @{
                if (ViewBag.CountDislikedPosts > 0)
                {
                    <ul>
                        @foreach (var post in ViewBag.DislikedPosts)
                        {
                            <li><a class="link" href="@Url.Action("Details", "Posts", new { id = post.PostID })">@post.PostTitle</a></li>
                        }
                    </ul>
                }
                else
                {
                    <p>Nothing yet!</p>
                }
            }


            <h4>Submissions:</h4>
            @{
                if (ViewBag.CountPosts > 0)
                {
                    <ul>
                        @foreach (var post in ViewBag.Posts)
                        {
                            <li><a class="link" href="@Url.Action("Details", "Posts", new { id = post.ID })">@post.Title</a></li>
                        }
                    </ul>
                }
                else
                {
                    <p>Nothing yet!</p>
                }
            }

            <h4>Comments:</h4>
            @{
                if (ViewBag.CountComments > 0)
                {
                    <ul>
                        @foreach (var comment in ViewBag.Comments)
                        {
                            <li><a class="link" href="@Url.Action("Details", "Posts", new { id = comment.PostID })">@comment.Content</a></li>
                        }
                    </ul>
                }
                else
                {
                    <p>Nothing yet!</p>
                }
            }
        </div>
    </div>
</div>
