@using Social.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "error-message" })
        <h2>Login</h2>
        <div>
            @Html.LabelFor(m => m.Username)
            <div class="field">
                @Html.TextBoxFor(m => m.Username, new { @class = "field" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "warning-message" })
            </div>
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            <div class="field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "warning-message" })
            </div>
        </div>
        <input type="submit" value="Log in" class="login-btn" />
        <p>
            @Html.ActionLink("Register as a new user", "Register", null, new { @class = "link" })
        </p>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}