@model Social.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "error-message" })
        <h2>Create a new account</h2>
        <div class="field">
            @Html.LabelFor(m => m.Email)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Password)

            @Html.PasswordFor(m => m.Password)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.ConfirmPassword)

            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <input type="submit" class="login-btn" value="Register" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
